@import "/src/assets/styles/custom-normalize.scss";
@import "/src/assets/styles/custom-blueprint.scss";
@import "/src/assets/styles/helpers.scss";

:root {
  background-color: $light-gray4;
  color: $black;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;

  // font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
