// переопределение стилей normalize
$normalized_font_family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

$h1_margin: 0;
$h2_margin: 0;
$h3_margin: 0;
$h4_margin: 0;
$h5_margin: 0;
$h6_margin: 0;

@import "./normalize";

